
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link rel="stylesheet" href="css/foundation.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <title>Coca Cola App</title>
  </head>
  <section id="siteContainer">

	  
	   <header class="expanded row" data-sticky-container>
		<div id="headerCon" data-sticky data-options="marginTop:0" style="width:100%">
			<!--header navigation-->
	      <div class="small-12 large-12 columns" >
				<ul id="mainNav" >
   	                <li><a href="#flavors">Flavors</a></li>
   	                <li><a href="#shareacoke">Share a Coke</a></li>
               </ul>
				</nav>
			</div>
			
			
			<!--header logo --> 
			<div class="small-12 large-4 large-pull-9 columns">
        <img src="../images/logo.png" id="logo" alt="Logo">
        
		    </div>
			 
		
		</div>
    </header>
	  
	
	  <section id="indexPage" >
    <div id="banner">
    		<div class="small-12 large-12 large-centered columns">

          <h2>{{title}}</h2>
          <p>Keeping summers cool since 1892</p>
    </div>
	  </section>

     

       
      <h2 class="divTitle" id="flavors">{{flavorsTitle}}</h2>

      <p>{{flavorsParagraph}}</p>
<section class="row">
<div class="small-6 large-3 columns"></div>
<div class="flavorsFloat"></div>
      <h1 class="flavorsFloat">Classic Cola</h1>
      <p class="flavorsFloat">{{classicFlavor}}</p>
      </div>
</div>
      <div class="small-6 large-3 columns"></div>
<div class="flavorsFloat">
      <h1>Cherry Cola</h1>
      <p>{{cherryFlavor}}</p>
      </div>
</div>
<div class="small-6 large-3 columns"></div>
<div class="flavorsFloat"></div>
      <h1 class="flavorsFloat">Vanilla Cola</h1>
      <p class="flavorsFloat">{{vanillaFlavor}}</p>
      </div>
      </div>
                
            </main>

         </div>
        </section>

      </div>



         
    </section></div>
    


	  
  {{!-- <footer id="footerCon">
    <section class="row">
      <nav class="small-12 large-12 columns">
        <h2 class="hide">Main Footer</h2>
        <p id="footerText">&copy 2018 Lia Vernaet</p>
      </nav>
    </section> --}}


  </section>

  

 </footer>
</html>

